
  .container {
                display: flex;

            }
            .left, .right {
                width: 20%; /* Lewa i prawa kolumna po 20% */

            }
            .center {
                width: 60%; /* Środkowa kolumna 60% */
                padding: 20px;
            }
            /* Kontener przycisków paginacji */
            .pagination-container {
                text-align: center; /* Wyśrodkowanie przycisków */
                margin-top: 20px; /* Odstęp od treści książek */
            }

            /* Styl przycisków paginacji */
            .pagination-btn {
                padding: 10px 20px; /* Wygodne paddingi */
                font-size: 14px; /* Wielkość czcionki */
                background-color: #007bff; /* Kolor tła przycisków */
                color: white; /* Kolor tekstu */
                border: none;
                border-radius: 5px; /* Zaokrąglone rogi */
                margin: 0 10px; /* Odstępy między przyciskami */
                cursor: pointer; /* Wskaźnik w postaci ręki */
            }

            .pagination-btn:hover {
                background-color: #0056b3; /* Kolor przycisku po najechaniu */
            }
